html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fff6ee;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Averia Sans Libre", cursive;
}
.navigation__section {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
}
.navigation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;
  height: 40px;
}
.navigation__wrapper > a {
  padding: 0 15px;
  line-height: 25px;
  margin: 15px 10px 0;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  color: #056174;
  text-decoration: none;
}
.navigation__wrapper > a:hover {
  background-color: #fff;
}
.banner {
  width: 100%;
  height: 50vh;
  position: relative;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > h1 {
  color: #fff;
  font-size: 80px;
  width: 100%;
  text-align: left;
  padding: 200px 0 0;
  margin: 0;
}
.footer {
  background-color: rgba(75, 157, 173, 0.17);
  padding: 20px 0 5px;
}
.footer__socials {
  display: flex;
  justify-content: center;
}
.footer__socials > a {
  padding: 0 25px;
}
.footer__socials > a > img {
  max-height: 40px;
  height: 100%;
}
.footer__copyright {
  text-align: center;
  font-size: 11px;
}
@media screen and (min-width: 600px) {
  .navigation__section {
    position: fixed;
  }
  .navigation__wrapper {
    padding-right: 20px;
    flex-direction: unset;
    text-align: unset;
  }
  .navigation__wrapper > a {
    width: unset;
  }
}
