.banner {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url(../images/mapgirl.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner > h1 {
    color: #fff;
    font-size: 80px;
    width: 100%;
    text-align: left;
    padding: 200px 0 0;
    margin: 0;
  }
  .introduction {
    width: 90vw;
    margin: 0 auto;
  }
  .introduction > p {
    font-size: 13px;
    padding: 5px 0 30px;
    color: #555;
  }
  .article {
    max-width: 90vw;
    margin: 0 auto;
    padding: 30px 0 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: justify;
  }
  .article.second {
    flex-direction: column-reverse;
  }
  .article > div {
    padding: 0 15px;
  }
  .article__list > li {
    padding: 5px 0;
  }
  .article__image {
    position: relative;
    z-index: 1;
    max-width: 330px;
    height: -moz-available;
    height: -webkit-fill-available;
    margin: 0 auto;
  }
  .article__image > figure {
    width: 100%;
    margin: 20px auto;
  }
  .article__image > figure > img {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
  }
  .article__image > figure > figcaption {
    text-align: center;
    font-size: 13px;
  }
  .article__image::before,
  .article__image::after {
    content: "";
    border-radius: 95px;
    position: absolute;
    z-index: -1;
  }
  .article__image::before {
    height: 160px;
    width: 50px;
    background: #ef8c6d;
    top: 0;
    left: -10px;
  }
  .article__image::after {
    width: 160px;
    height: 50px;
    background: #fbc149;
    bottom: 10px;
    right: -10px;
  }
  .article__subtitle {
    font-size: 19px;
    margin-top: 0;
  }
  @media screen and (min-width: 800px) {
    .banner > h1 {
      padding: 200px 10% 0;
      width: -moz-available;
      width: -webkit-fill-available;
    }
    .article {
      flex-direction: unset;
      text-align: unset;
    }
    .article.second {
      flex-direction: unset;
    }
    .article > div {
      max-width: 50%;
    }
    .article__image {
      max-width: 300px;
    }
    .article__image > figure > figcaption {
      text-align: left;
    }
  }